@using BackOfficeUI.Client.Models

@code {
    [Parameter] public ProgramDetailModel ProgramDetails { get; set; }
}

<div class="form-group">
    <label>ID</label>
    <InputNumber @bind-Value="ProgramDetails.Id"></InputNumber>
</div>

<div class="form-group">
    <label>Title</label>
    <InputText @bind-Value="ProgramDetails.Title"></InputText>
</div>

<div class="form-group">
    <label>Description</label>
    <InputText @bind-Value="ProgramDetails.Description"></InputText>
</div>