@inherits LayoutComponentBase

<div class="wrapper">
    <header>
        <Navbar/>
    </header>

    <main class="main">
        @Body

    </main>

    <footer>
        This is it
    </footer>
</div>