.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 1.5rem;
  background: var(--theme-gradient);
  color: var(--gray-100);
  
  .nav-logo {
    position: relative;
    
    h6 {
      position: absolute;
      right: -10px;
      bottom: 0;
      
      font-weight: lighter;
    }
  }
  
  .nav {
    display: flex;
    gap: 1rem;
  }
}