.item-row {
    display: flex;
    flex-direction: row;
    
    .btn-remove {
        width: 25px;
        height: 25px;
        margin-top: 25px;
        margin-left: 5px;
        padding-left: 5px;
        color: white;
        background-color: #f13e54;
        border: solid;
        border-color: black;
        border-radius: 6px;
    }
}
